<a href="https://colab.research.google.com/github/tridev003/Machine-Learning-in-Agriculture/blob/main/JantaHackAgriculture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import seaborn as sns
#import sweetviz as sv

In [ ]:
dataset_train  = pd.read_csv("/content/train_yaOffsB.csv")
dataset_test  = pd.read_csv("/content/test_pFkWwen.csv")
pd.pandas.set_option('display.max_columns',None)

In [ ]:
print(dataset_train.shape,dataset_test.shape)

(88858, 10) (59310, 9)

In [ ]:

#eda_data = sv.analyze(dataset_train)
#eda_data.show_html('agriculture.html')

In [ ]:
dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88858 non-null  object
 1   Estimated_Insects_Count  88858 non-null  int64
 2   Crop_Type                88858 non-null  int64
 3   Soil_Type                88858 non-null  int64
 4   Pesticide_Use_Category   88858 non-null  int64
 5   Number_Doses_Week        88858 non-null  int64
 6   Number_Weeks_Used        79858 non-null  float64
 7   Number_Weeks_Quit        88858 non-null  int64
 8   Season                   88858 non-null  int64
 9   Crop_Damage              88858 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [ ]:
dataset_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59310 entries, 0 to 59309
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       59310 non-null  object
 1   Estimated_Insects_Count  59310 non-null  int64
 2   Crop_Type                59310 non-null  int64
 3   Soil_Type                59310 non-null  int64
 4   Pesticide_Use_Category   59310 non-null  int64
 5   Number_Doses_Week        59310 non-null  int64
 6   Number_Weeks_Used        53417 non-null  float64
 7   Number_Weeks_Quit        59310 non-null  int64
 8   Season                   59310 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 4.1+ MB

HANDLING MISSING VALUES IN TRAIN AND TEST DATA

In [ ]:
dataset_train['Number_Weeks_Used'].isnull().sum()

9000

In [ ]:
#pd.pandas.set_option('display.max_rows',None)
#dataset_train['Number_Weeks_Used'].head(1000)

In [ ]:
dataset_train['Number_Weeks_Used'] = dataset_train['Number_Weeks_Used'].fillna(method='bfill')

In [ ]:
dataset_train['Number_Weeks_Used'].isnull().sum()

0

In [ ]:
sns.heatmap(dataset_train.isnull(),yticklabels=False,cbar=False,cmap='YlGnBu')

handling missing values for test data

In [ ]:
dataset_test['Number_Weeks_Used'].isnull().sum()

5893

In [ ]:
dataset_test['Number_Weeks_Used']  = dataset_test['Number_Weeks_Used'].fillna(method = 'bfill')

In [ ]:
dataset_test['Number_Weeks_Used'].isnull().sum()

0

In [ ]:
dataset_train.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1

handling columns sequncially

dropping id column

In [ ]:
 dataset_train.drop(['ID'],axis =1,inplace =True)
 dataset_test.drop(['ID'],axis =1,inplace =True)
print(dataset_train.shape,dataset_test.shape)

(88858, 9) (59310, 8)

In [ ]:
dataset_train['Estimated_Insects_Count'].value_counts()

1212    3438
1132    3370
1478    3358
1385    3309
1056    3235
        ...
3896     134
3515     123
4097     113
231       89
169       63
Name: Estimated_Insects_Count, Length: 71, dtype: int64

In [ ]:
dataset_train['Estimated_Insects_Count'] = dataset_train['Estimated_Insects_Count'].transform(np.log)

In [ ]:
dataset_train['Estimated_Insects_Count'].head(100)

0     5.236442
1     5.342334
2     5.549076
3     5.549076
4     5.834811
        ...
95    6.437752
96    6.437752
97    6.439350
98    6.437752
99    6.437752
Name: Estimated_Insects_Count, Length: 100, dtype: float64

In [ ]:
dataset_test['Estimated_Insects_Count'] = dataset_test['Estimated_Insects_Count'].transform(np.log)

correlation

In [ ]:
corr_matrix  = dataset_train.corr()
corr_matrix['Crop_Damage'].sort_values(ascending =False)

Crop_Damage                1.000000
Number_Weeks_Used          0.219813
Estimated_Insects_Count    0.195332
Pesticide_Use_Category     0.175002
Season                    -0.000184
Crop_Type                 -0.016495
Soil_Type                 -0.021997
Number_Doses_Week         -0.030874
Number_Weeks_Quit         -0.133117
Name: Crop_Damage, dtype: float64

In [ ]:
dataset_train['Crop_Type'].value_counts()

0    63589
1    25269
Name: Crop_Type, dtype: int64

In [ ]:
dataset_train['Soil_Type'].value_counts()

0    48124
1    40734
Name: Soil_Type, dtype: int64

In [ ]:
dataset_train['Pesticide_Use_Category'].value_counts()

2    63709
3    24312
1      837
Name: Pesticide_Use_Category, dtype: int64

In [ ]:
dataset_train['Number_Doses_Week'].value_counts()

20    22589
40    12298
10    12111
30    10438
15     8178
5      5520
25     4890
60     4367
50     3361
35     1832
45      936
0       837
80      672
70      303
55      277
90       83
65       64
75       61
95       30
85       11
Name: Number_Doses_Week, dtype: int64

In [ ]:
dataset_train['Number_Weeks_Used'].value_counts()

20.0    4294
30.0    4144
25.0    3499
40.0    2998
15.0    2778
        ...
63.0      54
64.0      48
65.0      31
66.0      18
67.0       9
Name: Number_Weeks_Used, Length: 64, dtype: int64

In [ ]:
dataset_train['Number_Weeks_Quit'].value_counts()

In [ ]:
dataset_train['Season'].value_counts()

2    44210
1    26902
3    17746
Name: Season, dtype: int64

In [ ]:
dataset_train['Crop_Damage'].value_counts()

0    74238
1    12307
2     2313
Name: Crop_Damage, dtype: int64

In [ ]:
dataset_train.columns

Index(['Estimated_Insects_Count', 'Crop_Type', 'Soil_Type',
       'Pesticide_Use_Category', 'Number_Doses_Week', 'Number_Weeks_Used',
       'Number_Weeks_Quit', 'Season', 'Crop_Damage'],
      dtype='object')

Feature scaling

In [ ]:
feature_scale_train =[feature for feature in dataset_train.columns if feature not in ['Crop_Type','Soil_Type','Pesticide_Use_Category','Season','Crop_Damage']]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
scaler.fit(dataset_train[feature_scale_train])
feature_scale_train

['Estimated_Insects_Count',
 'Number_Doses_Week',
 'Number_Weeks_Used',
 'Number_Weeks_Quit']

In [ ]:
#dataset_train.reset_index(drop=True, inplace=True)
#df2.reset_index(drop=True, inplace=True)

In [ ]:

#final_df =  pd.DataFrame(scaler.fit_transform(dataset_train[feature_scale_train]))

In [ ]:

X_train = pd.concat([dataset_train[['Crop_Damage','Season','Crop_Type','Soil_Type','Pesticide_Use_Category']].reset_index(drop=True),
                       pd.DataFrame(scaler.transform(dataset_train[feature_scale_train]),
                                    columns = ['Estimated_Insects_Count',
 'Number_Doses_Week',
 'Number_Weeks_Used',
 'Number_Weeks_Quit'])],
                      axis =1)

In [ ]:
X_train.head(100)

,Crop_Damage,Season,Crop_Type,Soil_Type,Pesticide_Use_Category,Estimated_Insects_Count,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit
0,0,1,1,0,1,0.068274,0.000000,0.000000,0.0
1,1,2,1,0,1,0.100291,0.000000,0.000000,0.0
2,1,2,1,0,1,0.162800,0.000000,0.000000,0.0
3,1,2,1,1,1,0.162800,0.000000,0.000000,0.0
4,1,2,1,0,1,0.249193,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...
95,0,1,0,0,3,0.431495,0.421053,0.223881,0.0
96,0,2,0,0,3,0.431495,0.526316,0.597015,0.0
97,0,1,0,1,3,0.431979,0.052632,0.477612,0.0
98,0,3,0,1,3,0.431495,0.210526,0.343284,0.0
99,0,3,0,1,3,0.431495,0.263158,0.477612,0.0

feature scaling for test data

In [ ]:
feature_scale_test =[feature for feature in dataset_test.columns if feature not in ['Crop_Type','Soil_Type','Pesticide_Use_Category','Season']]

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
scaler.fit(dataset_test[feature_scale_test])
feature_scale_test

['Estimated_Insects_Count',
 'Number_Doses_Week',
 'Number_Weeks_Used',
 'Number_Weeks_Quit']

In [ ]:
X_test = pd.concat([dataset_test[['Season','Crop_Type','Soil_Type','Pesticide_Use_Category']].reset_index(drop=True),
                       pd.DataFrame(scaler.transform(dataset_test[feature_scale_test]),
                                    columns = ['Estimated_Insects_Count',
 'Number_Doses_Week',
 'Number_Weeks_Used',
 'Number_Weeks_Quit'])],
                      axis =1)

In [ ]:
X_test.head()

,Season,Crop_Type,Soil_Type,Pesticide_Use_Category,Estimated_Insects_Count,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit
0,2,1,1,1,0.086966,0.0,0.0,0.0
1,2,1,1,1,0.360821,0.0,0.0,0.0
2,2,1,0,1,0.494939,0.0,0.0,0.0
3,2,1,0,1,0.541885,0.0,0.0,0.0
4,1,0,0,1,0.564597,0.0,0.0,0.0

In [ ]:
Y_train = X_train['Crop_Damage']
X_train = X_train.drop(['Crop_Damage'],axis =1)

In [ ]:
#X_train =  X_train.drop(['Number_Weeks_Quit'],axis = 1)
#X_test = X_test.drop(['Number_Weeks_Quit'],axis=1)

In [ ]:
print(X_train.shape,Y_train.shape,X_test.shape)

(88858, 8) (88858,) (59310, 8)

predicting and selecting algorithm

XGBOOST

In [ ]:
import xgboost
classifier=xgboost.XGBClassifier()

In [ ]:
import xgboost
regressor=xgboost.XGBRegressor()

In [ ]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

In [ ]:
## Hyper Parameter Optimization


n_estimators = [100, 500, 900]
max_depth = [2, 3, 5]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15]
min_child_weight=[1,2,3]

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [ ]:
# Set up the random search with 4-fold cross validation
from sklearn.model_selection import RandomizedSearchCV
random_cv = RandomizedSearchCV(estimator=classifier,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = -1,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [ ]:
random_cv.fit(X_train,Y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 21.9min
[Parallel(n_jobs=-1)]: Done 250 out of 250 | elapsed: 36.3min finished

[09:59:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=1, gamma=0,
                                          importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=3, min_child_weight=1,
                                          missing=None, n_estimators=100,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alpha=...
                                          verbosity=1),
                   iid='deprecated', n_iter=50, n_jobs=-1,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15],
                                        'max_depth': [2, 3, 5],
                                        'min_child_weight': [1, 2, 3],
                                        'n_estimators': [100, 500, 900]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=True, scoring='neg_mean_absolute_error',
                   verbose=5)

In [ ]:

random_cv.best_estimator_

XGBRegressor(base_score=1, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=500,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
classifier = xgboost.XGBClassifier(base_score=1, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=500,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
classifier.fit(X_train,Y_train)

XGBClassifier(base_score=1, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

print(classifier.score(X_train,Y_train))
print(accuracy_score(Y_train, classifier.predict(X_train), normalize=False))
print(np.sqrt(mean_squared_error(Y_train,classifier.predict(X_train))))

0.854396902923766
75920
0.4435294349081822

LOGISTIC REGRESSION

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
grid={"C":np.logspace(-3,3,7), "penalty":["l1","l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg,grid,cv=10)

In [ ]:
logreg_cv.fit(X_train,Y_train)

In [ ]:
print("tuned hpyerparameters :(best parameters) ",logreg_cv.best_params_)
print("accuracy :",logreg_cv.best_score_)

tuned hpyerparameters :(best parameters)  {'C': 0.001, 'penalty': 'l2'}
accuracy : 0.8354678247357796

In [ ]:
logreg2=LogisticRegression(C =0.001, penalty = "l2")
logreg2.fit(X_train,Y_train)

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred2 = logreg2.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

print(logreg2.score(X_train,Y_train))
print(accuracy_score(Y_train, logreg2.predict(X_train), normalize=False))
print(np.sqrt(mean_squared_error(Y_train,logreg2.predict(X_train))))

0.8354678250692116
74238
0.49256782427791207

sample submission file format

In [ ]:
pred2 = pd.DataFrame(y_pred2)
sub_df = pd.read_csv('/content/sample_submission_O1oDc4H.csv')
final  =pd.concat([sub_df['ID'],pred2],axis=1)
final.columns = ['ID','Crop_Damage']
final.to_csv('sample_submission3.csv',index =False)